<!DOCTYPE html>
<html>
    <head>
        <title>Fashion Freak</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h4 class="c1">Update the Quantity</h4>
        <form action="/update" method="post">
            <label>Product Id:</label>&nbsp;
            <input type="number" placeholder="Enter product id" name="id"><br>

            <label>New stock :</label>&nbsp;
            <input type="number" placeholder="Enter quantity" name="quantity"><br>

            <button id="update">Update</button>
        </form>
        <a href="/" class="c2">Home Page</a>
    </body>

</html>